
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}

<div class="content">

    <div class="row">
        <div class="col-md-12">
            <div style="padding:2%;" class="card">





                <style>


                    small {
                        color: red;
                    }
                </style>

                <br />
                <br />


                <div class="features">
                    <div id="container" class="container">





                        <h3>Change Password</h3>

                        <div id="success"></div>





                        <form id="change-pass" enctype="multipart/form-data">




                            <div class="row features_row">
                                <input id="lrn" type="hidden" />
                                <!-- Features Item -->
                                <div class="col-md-12 feature_col">
                                    <label> Old Password </label>
                                    <input id="old_pass" class="form-control" type="password" />    <small id="old_pass_v"></small>
                                </div>



                            </div>


                            <div class="row features_row">

                                <!-- Features Item -->
                                <div class="col-md-12 feature_col">
                                    <label> Password </label>
                                    <input id="pass" class="form-control" type="password" />    <small id="pass_v"></small>
                                </div>



                            </div>

                            <div class="row features_row">

                                <!-- Features Item -->
                                <div class="col-md-12 feature_col">
                                    <label> Repeat Password </label>
                                    <input id="r_pass" class="form-control" type="password" />    <small id="r_pass_v"></small>
                                </div>



                            </div>







                            <br />




                            <br />
                            <input class="btn btn-primary" type="submit" value="Change Password" />
                        </form>


                    </div>
                </div>

                <script>
                    var username = sessionStorage.getItem("username");
                    $.ajax({

                        url: '/Student/GetStudent',
                        type: 'get',
                        data: { username: username },
                        success: function (e) {
                            $('#lrn').val(e.lrn);
                        }

                    });

                </script>







            </div>
        </div>
    </div>
</div>



<script>
     $('#changepass').addClass('active');

    document.getElementById('change-pass').onsubmit = function () {

      
        var lrn = $('#lrn').val();




        if ($('#pass').val() != $('#r_pass').val()) {
            $('#r_pass_v').html("Password Doesn't Match");
            return false;
        } else {
               $('#r_pass_v').html("");
        }


      
        $.ajax({
            type: "POST",
            url: '/User/ChangePasswordExecute',
            data: { lrn: lrn, oldpass: $('#old_pass').val() , newpass: $('#pass').val() },
            success: function (data) {

                if (data.split(',').includes("wrong_old_password")) {
                    $('#old_pass_v').html("Wrong Old Password");
                }else {
                   $('#old_pass_v').html("");
                }

           

                if (data == "success") {
                    $('#success').html("  <div class='alert alert-success'>Successfully Changed</div>");
                       $('#old_pass_v').html("");
                }

            }
        });

        return false;
    }

</script>

