
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}



<br />
<br />
<br />
<br />
<div class="content">

    <div class="row">
        <div class="col-md-12">
            <div style="padding:2%;" class="card">





                <style>


                    small {
                        color: red;
                    }
                </style>

                <br />
                <br />
           

                <div class="features">
                    <div id="container" class="container">



                

                        <h3>Learner's Detail</h3>

                        <div id="success"></div>







                    </div>
                </div>


                <script>
                     $('#updatedetails').addClass('active');

                    document.getElementById('enrollment-form').onsubmit = function () {


                        var form = $(this);


                        $.ajax({
                            type: "POST",
                            processData: false,
                            contentType: false,
                            url: '/Student/UpdateAccount',
                            data: new FormData(this),
                            success: function (data) {



                                if (data.split(',').includes("lrn_error")) {
                                    $('#lrn').html("LRN should be 12 numerical character");
                                } else if (data.split(',').includes("lrn_number_only")) {
                                    $('#lrn').html("Number only");
                                } else if (data.split(',').includes("lrn_exist")) {
                                    $('#lrn').html("LRN already existed");
                                } else {
                                    $('#lrn').html("");
                                }



                                if (data.split(',').includes("fname")) {
                                    $('#fname').html("First name is required");
                                } else {
                                    $('#fname').html("");
                                }

                                if (data.split(',').includes("mname")) {
                                    $('#mname').html("Middle name is required");
                                } else {
                                    $('#mname').html("");
                                }

                                if (data.split(',').includes("lname")) {
                                    $('#lname').html("Last name is required");
                                } else {
                                    $('#lname').html("");
                                }



                                if (data.split(',').includes("address")) {
                                    $('#address').html("Address is required");
                                } else {
                                    $('#address').html("");
                                }

                                if (data.split(',').includes("barangay")) {
                                    $('#barangay').html("Barangay is required");
                                } else {
                                    $('#barangay').html("");
                                }

                                if (data.split(',').includes("city")) {
                                    $('#city').html("City is required");
                                } else {
                                    $('#city').html("");
                                }


                                if (data.split(',').includes("cpnumber")) {
                                    $('#cpnumber').html("Cp number is required");
                                } else {
                                    $('#cpnumber').html("");
                                }




                                if (data.split(',').includes("fatherfname")) {
                                    $('#fatherfname').html("Father's first name is required");
                                } else {
                                    $('#fatherfname').html("");
                                }


                                if (data.split(',').includes("fatherlname")) {
                                    $('#fatherlname').html("Father's last name is required");
                                } else {
                                    $('#fatherlname').html("");
                                }







                                if (data.split(',').includes("motherfname")) {
                                    $('#motherfname').html("Mother's first name is required");
                                } else {
                                    $('#motherfname').html("");
                                }


                                if (data.split(',').includes("motherlname")) {
                                    $('#motherlname').html("Mother's last name is required");
                                } else {
                                    $('#motherlname').html("");
                                }


                                if (data.split(',').includes("motheroccupation")) {
                                    $('#motheroccupation').html("");
                                } else {
                                    $('#motheroccupation').html("");
                                }


                                if (data.split(',').includes("mothercpnumber")) {
                                    $('#mothercpnumber').html("");
                                } else {
                                    $('#mothercpnumber').html("");
                                }



                                if (data.split(',').includes("guardianfname")) {
                                    $('#guardianfname').html("");
                                } else {
                                    $('#guardianfname').html("");
                                }




                                if (data.split(',').includes("guardianlname")) {
                                    $('#guardianlname').html("");
                                } else {
                                    $('#guardianlname').html("");
                                }



                                if (data.split(',').includes("guardianoccupation")) {
                                    $('#guardianoccupation').html("");
                                } else {
                                    $('#guardianoccupation').html("");
                                }




                                if (data.split(',').includes("guardiancpnumber")) {
                                    $('#guardiancpnumber').html("");
                                } else {
                                    $('#guardiancpnumber').html("");
                                }


                                if (data.split(',').includes("bc")) {
                                    $('#bc').html("");
                                } else {
                                    $('#bc').html("");
                                }

                                if (data.split(',').includes("f137")) {
                                    $('#f137').html("");
                                } else {
                                    $('#f137').html("");
                                }

                                if (data.split(',').includes("f138")) {
                                    $('#f138').html("");
                                } else {
                                    $('#f138').html("");
                                }

                                if (data.split(',').includes("goodmoral")) {
                                    $('#goodmoral').html("");
                                } else {
                                    $('#goodmoral').html("");
                                }


                                if (data.split(',').includes("image")) {
                                    $('#image').html("");
                                } else {
                                    $('#image').html("");
                                }

                                alert(data);

                                if (data.split(',').includes("email_exist")) {
                                    $('#email').html("Email already exist");
                                }
                                else if (data.split(',').includes("email")) {
                                    $('#email').html("Email is required");
                                } else if (data.split(',').includes("invalid_email")) {
                                    $('#email').html("This is not a valid email");
                                } else {
                                    $('#email').html("");
                                }



                                if (data == "success") {
                                    $('#success').html("  <div class='alert alert-success'>Successfully Updated</div>");
                               



                                }


                                document.getElementById("container").scrollIntoView();

                            }
                        });

                        return false;

                    }



                </script>






            </div>
        </div>
    </div>
</div>
           