
@model List<Subject>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}


    <div class="modal fade" id="editNow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form enctype="multipart/form-data">
                    <div class="modal-header">

                        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                    <div class="modal-body">

                            <input id="edit_area_id" type="hidden" class="form-control" />
                       

                        <div class="form-group">
                            <label>Area Name </label>
                            <input id="edit_area" type="text" class="form-control" />
                        </div>



                    </div>
                    <div class="modal-footer">
                        <div class="left-side">
                            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="divider"></div>
                        <div class="right-side">
                            <button id="update_area"  class="btn btn-danger btn-simple"> Submit</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>











<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="subjectRegistration" enctype="multipart/form-data">
                <div class="modal-header">

                    <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label>Subject Code</label>
                        <input id="subject-code" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Subject</label>
                        <input id="subject" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Area</label>
                       
                    <div class="form-control" id="area_select">

                    </div>

                        <a data-toggle="modal" data-target="#areaList" class="btn btn-primary">Add Area</a>

                    </div>



                    <div class="form-group">
                        <label>Level</label>
                        <select class="form-control" id="grade">
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>




                </div>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <input id="register_student" type="submit" class="btn btn-danger btn-simple" />
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<button class="btn btn-neutral" data-toggle="modal" data-target="#myModal">
    Add Subject
</button>







<div class="modal fade" id="areaList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="subjectRegistration" enctype="multipart/form-data">
                <div class="modal-header">

                    <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <div class="modal-body">


                    <input class="form-control" type="text" id="area_name" />
                 
                    <button id="sendButton" class="btn btn-primary">Add Area</button>
                    <br />

                  <table class="table">
                      <thead>
                          <tr>
                              <th>Area</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody class="tbody_area">
                        
                      </tbody>
                  </table>

                </div>

                <script>
                    $(document).ready(function () {
                   
                        var c = "";
                        $.ajax({

                            url: '../Subject/GetAllArea',
                            type: 'GET',
                            success: function (e) {
                                c += '<select class = "form-control" id = "area" >';
                                for (var key in Object.keys(e)) {
                                    c += '<option value = "' + e[key].areaName + '">' + e[key].areaName + '</option> ';
                                }
                                c += "</select>";
                                $('#area_select').html(c);
                            }

                        });


                        var t = "";
                        $.ajax({

                            url: '../Subject/GetAllArea',
                            type: 'GET',
                            success: function (e) {

                                for (var key in Object.keys(e)) {


                                    t += '<tr> <td>' + e[key].areaName + " </td> <td> <a class='btn btn-neutral' data-toggle='modal' data-target='#editNow' onclick = ' Edit(" + e[key].subjectAreaID + " , \" " + e[key].areaName + " \" ) '> Edit</a> </td> </tr>";


                                }

                                $('.tbody_area').html(t);
                            }

                        });

               

                        var editAreaID = $('#edit_area_id').val();
                         var editAreaName =  $('#edit_area').val();



                        $('#update_area').click(function () {

                            $.ajax({

                                url: '../Subject/UpdateArea',
                                type: 'POST',
                                data: {editAreaID :  $('#edit_area_id').val() , editAreaName :  $('#edit_area').val()},
                                success: function (e) {
                                    if (e == "existing_area") {
                                        alert("This area is already existed");
                                        return false;
                                    }

                                    if (e == "") {
                                        alert("Area Updated");
                                        window.open("../Subject/","_self");
                                          return false;
                                    }
                                }

                            });
                              return false;
                        });
                        

                    });


                


                             var areaName = $('#area_name').val();

                 

                        $('#sendButton').click(function () {

                               if (areaName == "") {
                             return false;
                                }

                            $.ajax({

                                url: '../Subject/CreateArea',
                                type: 'POST',
                                data: { "areaName" : $('#area_name').val() },
                                success: function (e) {
                                     if (e == "existing_area") {
                                        alert("This area is already existed");
                                        return false;
                                    }

                                    if (e == "") {
                                        alert("Area Added");
                                          window.open("../Subject/","_self");
                                        return false;
                                    }
                                }

                            });
                              return false;
                        });

                </script>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <input id="register_student" type="submit" class="btn btn-danger btn-simple" />
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>



<style>

    .buttons-print {
        border: none !important;
        background-color: #51cbce !important;
    }

    .buttons-excel {
        border: none !important;
        background-color: #51cbce !important;
    }

    .buttons-pdf {
        border: none !important;
        background-color: #51cbce !important;
    }
</style>

<div style="width: 100%; " class="content">
    <div class="row">
        <div class="col-md-12">
            <div style="padding:2%;" class="card">
                <table class="table table-striped table-bordered" style=" width:100%;" id="userList">
                    <thead>
                        <tr>
                            <th style="color:#51cbce;">Subject Code</th>
                            <th style="color:#51cbce;">Grade </th>
                            <th style="color:#51cbce;">Subject</th>
                            <th style="color:#51cbce;">Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.SubjectCode</td>
                                    <td>@m.Grade</td>
                                    <td>@m.SubjectName</td>
                                    <td>@m.Areas</td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    function Edit(id, area) {
        $('#areaList').hide();
                        $('#edit_area_id').val(id);
                         $('#edit_area').val(area);
           }

    document.getElementById('subjectRegistration').onsubmit = function () {

        var student = new FormData();


        var subjectCode = $('#subject-code').val();
        var subject = $('#subject').val();
        var grade = $('#grade').val();
        var area = $('#area').val();

        if (subject == "" || grade == "") {
            alert("Please complete the fields");
            return false;
        }
        student.append("SubjectCode", subjectCode);
        student.append("Subjectname", subject);
        student.append("Grade", grade);
        student.append("Areas", area);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Subject/CreateSubject');
        xhr.send(student);
        xhr.onreadystatechange = function () {

            if (xhr.readyState == 4 && xhr.status == 200) {

                if ("existing_subject" == xhr.responseText) {
                    alert("Its either subject code or subject name is already existed");
                    return false;
                }
                if (xhr.responseText == "") {
                    alert("subject added");
                    window.open("../../Subject/Index", "_self");
                }
            }
        }

        return false;

    }

</script>


<script>
    $('#subjectnav').addClass('active');


    $(document).ready(function () {
        $('#userList').DataTable({

            responsive: true,

            "lengthMenu": [50, 100, 500, 1000, 2000, 5000, 10000, 50000, 100000],
            "order": [],
            "sScrollX": "100%",
            "scrollCollapse": true,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'print',

                    customize: function (win) {
                        $(win.document.body)
                            .css({ 'font-size': '10pt' })
                            .prepend(
                                '<img style= src="~/Images/activefinancelogo.png"  style="position:absolute; height:500px; z-index:5000; width:500px; top:0; left:0;" />'
                            );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }, 'excelHtml5', {
                    extend: 'pdf',
                    download: 'open',
                }
            ]

        });
    });

</script>

<script src="~/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.buttons.min.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.print.min.js"></script>

<script src="~/DataTables-1.10.18/js/pdfmake.min.js"></script>
<script src="~/DataTables-1.10.18/js/vfs_fonts.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.html5.min.js"></script>
<script src="~/DataTables-1.10.18/js/jszip.min.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.responsive.min.js"></script>
<script src="~/DataTables-1.10.18/js/responsive.bootstrap4.min.js"></script>

<link href="~/DataTables-1.10.18/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/button.css" rel="stylesheet" />
<script src="~/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>

