
@{
    ViewData["Title"] = "Enroll";
    Layout = "~/Views/Shared/homeLayout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />



<style>


    small {
        color: red;
    }
</style>

<br />
<br />
<br />
<br />

<div class="features">
    <div id="container" class="container">



        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome To Divine Light Academy</h2>
                    <div class="section_subtitle"><p>For the glory of God —The Light Shines Brighter!</p></div>
                </div>
            </div>
        </div>


        <h3>Learner's Detail</h3>

        <div id="success"></div>





        <form id="enrollment-form" enctype="multipart/form-data">

            <div class="row features_row">
                <div class="col-lg-12 feature_col">
                    <label> LRN </label>
                    <input class="form-control" name="LRN" type="text" />
                    <small id="lrn"></small>
                </div>

            </div>


            <div class="row features_row">

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> First Name </label>
                    <input name="FirstName" class="form-control" type="text" />    <small id="fname"></small>
                </div>
                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Middle Name </label>
                    <input name="MiddleName" class="form-control" type="text" />     <small id="mname"></small>
                </div>
                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Last Name </label>
                    <input name="LastName" class="form-control" type="text" />     <small id="lname"></small>
                </div>

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Name Extension </label>
                    <input name="NameExtension" class="form-control" type="text" />     <small id="nename"></small>
                </div>

            </div>

            <div class="row features_row">

                <!-- Features Item -->
                <div class="col-lg-6 feature_col">
                    <label> Street Address </label>
                    <input name="Address" class="form-control" type="text" />  <small id="address"></small>
                </div>
                <!-- Features Item -->
                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Barangay </label>
                    <input name="Barangay" class="form-control" type="text" />  <small id="barangay"></small>
                </div>

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> City/Municipality </label>
                    <input name="City" class="form-control" type="text" />  <small id="city"></small>
                </div>

            </div>


            <div class="row features_row">


                <!-- Features Item -->
                <div class="col-lg-3 ">
                    <label>Gender</label>
                    <div class="row">

                        <div class="col-md-5">
                            <div class="row">
                                <span>Male</span>
                                <input id="male" checked value="male" style="width:50%; margin-top:3%;" name="Gender" class="form-control" type="radio" />
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <span>Female</span>
                                <input id="female" value="male" style="width:50%; margin-top:3%;" name="Gender" class="form-control" type="radio" />
                            </div>
                        </div>



                    </div>


                </div>

                <!-- Features Item -->
                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Phone Number </label>
                    <input name="Phonenumber" class="form-control" type="text" /> <small id="cpnumber"></small>
                </div>
                <div class="col-lg-3 feature_col">
                    <label> Email </label>
                    <input name="EmailAddress" class="form-control" type="text" /> <small id="email"></small>
                </div>

                <div class="col-lg-3  feature_col">
                    <label> Grade This school year </label>
                    <select id="grade" name="CurrentGrade" class="form-control">
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>



                <!-- Features Item -->


            </div>

            <div class="row features_row">
                <div class="col-lg-3 feature_col">
                    <span>Birthdate</span>
                    <input name="BirthDate" id="datepicker" width="276" /> <small id="birthdate"></small>
                </div>

            </div>



            <br />
            <h3>Parent's Detail</h3>

            <div class="row features_row">

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Father's First Name </label>
                    <input name="FatherFirstName" class="form-control" type="text" /> <small id="fatherfname"></small>
                </div>
                <!-- Features Item -->
                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Father's Last Name  </label>
                    <input name="FatherLastName" class="form-control" type="text" /> <small id="fatherlname"></small>
                </div>

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Father's Occupation  </label>
                    <input name="FatherOccupation" class="form-control" type="text" /> <small id="fatheroccupation"></small>
                </div>

                <div class="col-lg-3 feature_col">
                    <label> Father's Phone Number  </label>
                    <input name="FatherNumber" class="form-control" type="text" /> <small id="fathercpnumber"></small>
                </div>
            </div>


            <div class="row features_row">

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Mother's First Name </label>
                    <input name="MotherFirstName" class="form-control" type="text" /> <small id="motherfname"></small>
                </div>
                <!-- Features Item -->
                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Mother's Last Name  </label>
                    <input name="MotherLastName" class="form-control" type="text" /> <small id="motherlname"></small>
                </div>

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Mother's Occupation  </label>
                    <input name="MotherOccupation" class="form-control" type="text" /> <small id="motheroccupation"></small>
                </div>

                <div class="col-lg-3 feature_col">
                    <label> Mother's Phone Number  </label>
                    <input name="MotherNumber" class="form-control" type="text" /> <small id="mothercpnumber"></small>
                </div>

            </div>


            <div class="row features_row">

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Guardian First Name </label>
                    <input name="GuardianFirstName" class="form-control" type="text" /> <small id="guardianfname"></small>
                </div>
                <!-- Features Item -->
                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Guardian Last Name  </label>
                    <input name="GuardianLastName" class="form-control" type="text" /> <small id="guardianlname"></small>
                </div>

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Guardian's Occupation  </label>
                    <input name="GuardianNumber" class="form-control" type="text" /> <small id="guardianoccupation"></small>
                </div>

                <div class="col-lg-3 feature_col">
                    <label> Guardian's Phone Number  </label>
                    <input name="GuardianOccupation" class="form-control" type="text" /> <small id="guardiancpnumber"></small>
                </div>

            </div>

            <br />
            <h3>Mode of Payment</h3>

            <div class="col-lg-3  feature_col">
                <label> What is your payment type? </label>
                <select id="mode_of_payment" name="ModeOfPayment" class="form-control">
                    <option value="cash">Cash</option>
                    <option value="two_payment">2 Payment</option>
                    <option value="monthly">Monthly</option>
                    <option value="quarterly">Quarterly</option>
                </select>
            </div>


         


            <br />
            <h3>Requirements</h3>

            <div class="row features_row">

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> Birth Certificate </label>
                    <input name="BirthCertificate" class="form-control" type="file" />  <small id="bc"></small>
                </div>
                <!-- Features Item -->
                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> F-137  </label>
                    <input name="Form137" class="form-control" type="file" />  <small id="f137"></small>
                </div>

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> F-138  </label>
                    <input name="Form138" class="form-control" type="file" />  <small id="f138"></small>
                </div>

                <div class="col-lg-3 feature_col">
                    <label> Good Moral  </label>
                    <input name="GoodMoral" class="form-control" type="file" />  <small id="goodmoral"></small>
                </div>

            </div>

            <div class="row features_row">

                <!-- Features Item -->
                <div class="col-lg-3 feature_col">
                    <label> ID Picture </label>
                    <input name="Image" class="form-control" type="file" /> <small id="image"></small>
                </div>
                <!-- Features Item -->
                <!-- Features Item -->


            </div>

            <br />
            Do you agree that the details you input above is true?
            <input type="checkbox" />
            <br />
            <input class="btn btn-primary" type="submit" value="Enroll" />
        </form>


    </div>
</div>


<script>


    document.getElementById('enrollment-form').onsubmit = function () {


        var form = $(this);


        $.ajax({
            type: "POST",
            processData: false,
            contentType: false,
            url: '/User/StudentEnroll',
            data: new FormData(this),
            success: function (data) {



                if (data.split(',').includes("lrn_error")) {
                    $('#lrn').html("LRN should be 12 numerical character");
                } else if (data.split(',').includes("lrn_number_only")) {
                    $('#lrn').html("Number only");
                } else if (data.split(',').includes("lrn_exist")) {
                    $('#lrn').html("LRN already existed");
                } else {
                    $('#lrn').html("");
                }



                if (data.split(',').includes("fname")) {
                    $('#fname').html("First name is required");
                } else {
                    $('#fname').html("");
                }

                if (data.split(',').includes("mname")) {
                    $('#mname').html("Middle name is required");
                } else {
                    $('#mname').html("");
                }

                if (data.split(',').includes("lname")) {
                    $('#lname').html("Last name is required");
                } else {
                    $('#lname').html("");
                }



                if (data.split(',').includes("address")) {
                    $('#address').html("Address is required");
                } else {
                    $('#address').html("");
                }

                if (data.split(',').includes("barangay")) {
                    $('#barangay').html("Barangay is required");
                } else {
                    $('#barangay').html("");
                }

                if (data.split(',').includes("city")) {
                    $('#city').html("City is required");
                } else {
                    $('#city').html("");
                }


                if (data.split(',').includes("cpnumber")) {
                    $('#cpnumber').html("Cp number is required");
                } else {
                    $('#cpnumber').html("");
                }




                if (data.split(',').includes("fatherfname")) {
                    $('#fatherfname').html("Father's first name is required");
                } else {
                    $('#fatherfname').html("");
                }


                if (data.split(',').includes("fatherlname")) {
                    $('#fatherlname').html("Father's last name is required");
                } else {
                    $('#fatherlname').html("");
                }







                if (data.split(',').includes("motherfname")) {
                    $('#motherfname').html("Mother's first name is required");
                } else {
                    $('#motherfname').html("");
                }


                if (data.split(',').includes("motherlname")) {
                    $('#motherlname').html("Mother's last name is required");
                } else {
                    $('#motherlname').html("");
                }


                if (data.split(',').includes("motheroccupation")) {
                    $('#motheroccupation').html("");
                } else {
                    $('#motheroccupation').html("");
                }


                if (data.split(',').includes("mothercpnumber")) {
                    $('#mothercpnumber').html("");
                } else {
                    $('#mothercpnumber').html("");
                }



                if (data.split(',').includes("guardianfname")) {
                    $('#guardianfname').html("");
                } else {
                    $('#guardianfname').html("");
                }




                if (data.split(',').includes("guardianlname")) {
                    $('#guardianlname').html("");
                } else {
                    $('#guardianlname').html("");
                }



                if (data.split(',').includes("guardianoccupation")) {
                    $('#guardianoccupation').html("");
                } else {
                    $('#guardianoccupation').html("");
                }




                if (data.split(',').includes("guardiancpnumber")) {
                    $('#guardiancpnumber').html("");
                } else {
                    $('#guardiancpnumber').html("");
                }


                if (data.split(',').includes("bc")) {
                    $('#bc').html("");
                } else {
                    $('#bc').html("");
                }

                if (data.split(',').includes("f137")) {
                    $('#f137').html("");
                } else {
                    $('#f137').html("");
                }

                if (data.split(',').includes("f138")) {
                    $('#f138').html("");
                } else {
                    $('#f138').html("");
                }

                if (data.split(',').includes("goodmoral")) {
                    $('#goodmoral').html("");
                } else {
                    $('#goodmoral').html("");
                }


                if (data.split(',').includes("image")) {
                    $('#image').html("");
                } else {
                    $('#image').html("");
                }

                alert(data);

                if (data.split(',').includes("email_exist")) {
                    $('#email').html("Email already exist");
                }
                else if (data.split(',').includes("email")) {
                    $('#email').html("Email is required");
                } else if (data.split(',').includes("invalid_email")) {
                    $('#email').html("This is not a valid email");
                } else {
                    $('#email').html("");
                }



                if (data == "success") {
                    $('#success').html("  <div class='alert alert-success'>Successfully enrolled. Please wait for your account to be active.</div>");
                    $("#enrollment-form")[0].reset();
                }


                document.getElementById("container").scrollIntoView();

            }
        });

        return false;

    }



</script>


<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>