@{
    ViewData["Title"] = "Home Page";
}


<div class="home">
<div class="home_slider_container">

    <!-- Home Slider -->
    <div class="owl-carousel owl-theme home_slider">

        <!-- Home Slider Item -->

        <!-- Home Slider Item -->
        <div class="owl-item">
            <div class="home_slider_background" style="background-image:url(dla.jpg)"></div>
            <div class="home_slider_content">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <div style="background-color:white;" class="home_slider_title">Welcome to Divine Light Academy</div>
                          
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Home Slider Nav -->


        </div>

<!-- Features -->

<div class="features">
    <div class="container">



        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome To Divine Light Academy</h2>
                    <div class="section_subtitle"><p>For the glory of God —The Light Shines Brighter!</p></div>
                </div>
            </div>
        </div>
        <div class="row features_row">

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_1.png" alt=""></div>
                    <h3 class="feature_title">Hands-On Learning</h3>
                    <div class="feature_text"><p>You'll experience everything with our handson learning.</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_2.png" alt=""></div>
                    <h3 class="feature_title">Academic Excellence</h3>
                    <div class="feature_text"><p>Not just sports but also we are nubmer one in academics.</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_3.png" alt=""></div>
                    <h3 class="feature_title">Beautiful Campus</h3>
                    <div class="feature_text"><p>The campus ambiance is very beautiful and soothing.</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_4.png" alt=""></div>
                    <h3 class="feature_title">Athletic Excellence</h3>
                    <div class="feature_text"><p>We've won various sports internationally.</p></div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Counter -->

<div class="counter">
    <div class="counter_background" style="background-image:url(images/counter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="counter_content">
                    <h2 class="counter_title">Our Vision</h2>
                    <div class="counter_text"><p>We envision a DLA STUDENT as a Child of Light who brings out the light from within for the glory of God, the good of the country and the whole world.</p></div>


                    <br />
                    <h2 style="float:right;" class="counter_title">Our Mission</h2>
                    <div class="counter_text"><p>We commit ourselves to the total development of our students as Children of Light by providing them Christian formation, academic and service programs.</p></div>

                    <!-- Milestones -->

                  
                </div>

            </div>
        </div>

        

    </div>
</div>

<!-- Events -->


<!-- Team -->

<div class="team">
    <div class="team_background parallax-window" data-parallax="scroll" data-image-src="images/team_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">New Teachers</h2>
                </div>
            </div>
        </div>
        <div class="row team_row">

            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col">
                <div class="team_item">
                    <div class="team_image"><img src="images/team_1.jpg" alt=""></div>
                    <div class="team_body">
                        <div class="team_title"><a href="#">Maria Nacional</a></div>
                        <div class="team_subtitle">Math Teacher</div>
                      
                    </div>
                </div>
            </div>

            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col">
                <div class="team_item">
                    <div class="team_image"><img src="images/team_2.jpg" alt=""></div>
                    <div class="team_body">
                        <div class="team_title"><a href="#">Manny</a></div>
                        <div class="team_subtitle">English Teacher</div>
                       
                    </div>
                </div>
            </div>

            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col">
                <div class="team_item">
                    <div class="team_image"><img src="images/team_3.jpg" alt=""></div>
                    <div class="team_body">
                        <div class="team_title"><a href="#">Marie Pineda</a></div>
                        <div class="team_subtitle">Physics mechanics</div>
                      
                    </div>
                </div>
            </div>

            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col">
                <div class="team_item">
                    <div class="team_image"><img src="images/team_4.jpg" alt=""></div>
                    <div class="team_body">
                        <div class="team_title"><a href="#">Alice Sanchez</a></div>
                        <div class="team_subtitle">Math & Physics</div>
                      
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="newsletter_background parallax-window" data-parallax="scroll" data-image-src="images/newsletter.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

                    <!-- Newsletter Content -->
                    <div class="newsletter_content text-lg-left text-center">
                        <div class="newsletter_title">sign up for news and offers</div>
                        <div class="newsletter_subtitle"></div>
                    </div>

                    <!-- Newsletter Form -->
                    <div class="newsletter_form_container ml-lg-auto">
                        <form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                            <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                            <button type="submit" class="newsletter_button">subscribe</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
